# OS junk
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (ignore big datasets)
*.csv
*.tsv
*.xls
*.xlsx
*.parquet
*.h5
*.db

# Environments
.venv/
env/
venv/
*.egg-info/

